

@font-face {
    font-family: sourcesanspro;
    src: url('SourceSansPro-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('SourceSansPro-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
    height: 100%;
}

html, * {
    font-family: sourcesanspro, sans-serif !important;
    font-weight: 400;
}

body {
    background-color: #000;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #0277bd;
}

:focus {outline:0;}

form {
    background: none;
    color: #fff;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-size: 0px;
}

.container {
    padding: 20px;
}

.station_cover {
    background-size: 250px;
    background-position: center;
    width: 70px;
    height: 70px;
    position: relative;
    float: left;
    margin: 0 20px 0 0;
}

.station_cover:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.station_information {
    font-size: 18px;
    color: #ffffff;
}

.station_control {
}

.station_textbox {
    padding: 0 0 0 90px;
    margin: 15px 0 0 0;
}

.playing {
    position: fixed;
    background-color: rgba(255, 0, 0, 0.5) !important;
    border: none !important;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

.control_playing {
    max-width: 900px;
    margin: 0 auto;
}

.header {
    max-width: 900px;
    margin: 0 auto 30px auto;
    padding: 10px 0;
    font-size: 30px;
    color: #ffffff;
    position: relative;
    height: 50px;
}

.row {
    max-width: 900px;
    margin: 20px auto 0 auto;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: 10px}
  100%  {opacity: 1; margin-left: 0px}
}

summary::marker {
    content: "▿";
}

details[open] summary::marker {
    content: "▾︎";
}

summary {
    vertical-align: center;
}

summary:hover{
    color: #0277bd;
}

.frame {
    min-height: 100%;
    position: relative;
}

.base {
    margin-top: 30px;
    padding-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: calc(2 * var(--universal-padding)) 0;
}

.logo {
    position: absolute;
    background: url("./logo.png");
    height: 48px;
    width: 48px;
    left: 11px;
}

.setting_button {
    position: absolute;
    background: url("./setting.png");
    height: 48px;
    width: 48px;
    right: 0px;
}

.button.nav {
    margin-right: 10px;
    background-color: #222;
    border-left: .0625rem solid var(--form-border-color);
    border-right: .0625rem solid var(--form-border-color);
}

.button.nav:hover {
    background-color: #373737;
    border-left: .0625rem solid var(--form-border-color);
    border-right: .0625rem solid var(--form-border-color);
}

input {
    width: 100%
}

fieldset {
    padding: 10px 30px 10px 10px;
}

.label_center {
    align-items: center;
}

.select_fix {
    width: 90%;
}

.button_fix {
    margin: 4px !important;
}

.upload_wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload_wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.spacer_20 {
    margin-bottom: 20px;
}

.spacer_100 {
    margin-bottom: 100px;
}

.row_title {
    text-align: right;
    padding: 0 20px 0 0;
}

@media only screen and (max-width: 768px) {
    .row_title {
        text-align: left;
    }
}

.report_message {
    display: inline-block;
    margin: 0 0 0 20px;
}

.header_image {
    margin: 0 auto 20px auto;
    width: 1024px;
    display: block;
}

.del_radio_station {
    background: transparent url("./del_s.png") no-repeat bottom left;
    width: 48px;
    height: 48px;
    transition: none;
    color: transparent;
    font-size: 0;
    margin: 10px 0 0 10px;
    float: right;
}

.del_radio_station:hover {
    background-position: bottom right;
    background-color: transparent;

}

.mod_radio_station {
    background: transparent url("./mod_s.png") no-repeat bottom left;
    width: 48px;
    height: 48px;
    transition: none;
    color: transparent;
    font-size: 0;
    margin: 10px auto;
    float: right;
}

.mod_radio_station:hover {
    background-position: bottom right;
    background-color: transparent;
}

.play_radio_station {
    background: transparent url("./play_s.png") no-repeat bottom left;
    width: 48px;
    height: 48px;
    margin: 11px;
    transition: none;
    color: transparent;
    font-size: 0;
    z-index: 1;
    position:relative;
}

.play_radio_station:hover {
    background: transparent url("./play_s.png") no-repeat bottom right;
}

.play_station_button {
    background: transparent url("./play.png") no-repeat bottom left;
    display: block;
    margin: 0 10px 20px 10px;
    height: 72px;
    width: 72px;
    float: left;
}

.play_station_button:hover {
    background-position: bottom right;
}

.add_station_button {
    background: transparent url("./add.png") no-repeat bottom left;
    display: block;
    margin: 0 10px 20px 10px;
    height: 72px;
    width: 72px;
    float: left;
}

.add_station_button:hover {
    background-position: bottom right;
}

.clear {
    clear: both;
}


