

@font-face {
    font-family: sourcesanspro;
    src: url('SourceSansPro-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('SourceSansPro-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
    height: 100%;
}

html, * {
    font-family: sourcesanspro, sans-serif !important;
    font-weight: 400;
}

body {
    background-color: #000;
    height: 100%;
}

form {
    background: none;
    color: #fff;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.frame {
    min-height: 100%;
    position: relative;
}

.base {
    margin-top: 30px;
    padding-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: calc(2 * var(--universal-padding)) 0;
}

.logo_image {
    margin: 0 10px;
    position: relative;
    top: 7px;
}

.button.nav {
    margin-right: 10px;
    background-color: #222;
    border-left: .0625rem solid var(--form-border-color);
    border-right: .0625rem solid var(--form-border-color);
}

.button.nav:hover {
    background-color: #373737;
    border-left: .0625rem solid var(--form-border-color);
    border-right: .0625rem solid var(--form-border-color);
}

input {
    width: 100%
}

fieldset {
    padding: 10px 30px 10px 10px;
}

.label_center {
    align-items: center;
}

.select_fix {
    width: 90%;
}

.button_fix {
    margin: 4px !important;
}

.upload_wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload_wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.spacer_20 {
    margin-bottom: 20px;
}

.row_title {
    text-align: right;
    padding: 0 20px 0 0;
}

.report_message {
    display: inline-block;
    margin: 0 0 0 20px;
}

.header_image {
    margin: 0 auto 20px auto;
    width: 1024px;
    display: block;
}

.del_radio_station {
    background-image: url("./del_normal.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-color: transparent;
    transition: none;
    color: transparent;
    font-size: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

.del_radio_station:hover {
    background-image: url("./del_hover.png");
    background-repeat: no-repeat;
    background-color: transparent;
}


.mod_radio_station {
    background-image: url("./mod_normal.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-color: transparent;
    transition: none;
    color: transparent;
    font-size: 0;
    position: absolute;
    top: 5px;
    right: 45px;
}

.mod_radio_station:hover {
    background-image: url("./mod_hover.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.add_station_button {
    background-image: url("./add_normal.png");
    height: 72px;
    width: 72px;
    display: block;
    margin: 0 auto 20px auto;
}

.add_station_button:hover {
    background-image: url("./add_hover.png");
}