<!doctype html>
<html>
    <head>
        {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='./logo.ico') }}">
        <title>optaradio</title>
        {% endblock %}
    </head>
    <body bgcolor="#000000">
        <div class="container">
            <div class="header">
                <a href="/" class="logo"></a>
                <a class="setting_button" href="/settings"></a>
            </div>
            {% block content %}{% endblock %}
        </div>

        <div class="playing">
            <div class="control_playing">
                <a class="prev_station_button" href="/prev"></a>
                <a class="play_station_button" href="/play"></a>
                <a class="stop_station_button" href="/stop"></a>
                <a class="next_station_button" href="/next"></a>
            </div>
        </div>

        <div class="spacer_100"></div>
    </body>
</html>