<!doctype html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='./mini.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='./logo.ico') }}">
        <title>optaradio</title>
        {% endblock %}
    </head>
    <body>
        <div class="frame">
            <header>
                <div class="row">
                    <div class="col-sm col-md-1 col-lg-3"></div>
                    <div class="col-sm-12 col-md-10 col-lg-6">
                        <a href="/" class="logo"><img class="logo_image" src="/static/logo.png" alt="optaradio"/>optaradio</a>
                    </div>
                    <div class="col-sm col-md-1 col-lg-3"></div>
                </div>
            </header>

            <div class="container base">
                <div class="row">
                    <div class="col-sm col-md-1 col-lg-3"></div>
                    <div class="col-sm-12 col-md-10 col-lg-6">
                        {% block content %}{% endblock %}
                    </div>
                    <div class="col-sm col-md-1 col-lg-3"></div>
                </div>
            </div>

            <footer>
                <div class="row">
                    <div class="col-sm col-md-1 col-lg-3"></div>
                    <div class="col-sm-12 col-md-10 col-lg-6">
                        <p>optaradio | repo: <a href="https://github.com/p4cx/optaradio">p4cx/optaradio</a></p>
                    </div>
                    <div class="col-sm col-md-1 col-lg-3"></div>
                </div>
            </footer>
        </div>
    </body>
</html>