{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <form>
                <fieldset>
                    <legend>Login form</legend>
                    <div class="input-group fluid">
                        <label for="username" style="width: 80px;">Username</label>
                        <input type="email" value="" id="username" placeholder="username">
                    </div>
                    <div class="input-group fluid">
                          <label for="pwd" style="width: 80px;">Password</label>
                          <input type="password" value="" id="pwd" placeholder="password">
                    </div>
                    <div class="input-group fluid">
                          <button class="primary">Login</button>
                          <button>Forgot password?</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-sm-1"></div>
      </div>
</div>

{% endblock %}


