{% extends "base.html" %}
{% block content %}

<form action="{{ url_for('handle_data') }}" method="post">
    <fieldset>
        <legend>Add new station</legend>
            <div class="row responsive-label spacer-20">
                <div class="col-sm-12 col-md-3">{{ form.station_name.label }}</div>
                <div class="col-sm-12 col-md">{{ form.station_name }}</div>
            </div>
            <div class="row responsive-label spacer-20">
                <div class="col-sm-12 col-md-3">{{ form.station_url.label }}</div>
                <div class="col-sm-12 col-md">{{ form.station_url }}</div>
            </div>
            <div class="row responsive-label spacer-20">
                <div class="col-sm-12 col-md-3">{{ form.station_description.label }}</div>
                <div class="col-sm-12 col-md">{{ form.station_description }}</div>
            </div>
            <div class="row responsive-label spacer-20">
                <div class="col-sm-12 col-md-3">{{ form.station_cover.label }}</div>
                <div class="col-sm-12 col-md upload_wrapper">
                    <button class="secondary button_fix">Upload cover{{ form.station_cover(type="file") }}</button>
                </div>
            </div>
            <div class="row responsive-label spacer-20">
                <div class="col-sm-12 col-md-3">{{ form.station_country.label }}</div>
                <div class="col-sm-12 col-md tooltip" aria-label="If no country is known, then just type in 'Rainbow'.">
                    {{form.station_country(list="country_list")}}
                    <datalist id="country_list">
                    {% for country in countries %}
                        <option value="{{ country }}">
                    {% endfor %}
                    </datalist>
                </div>
            </div>
            <div class="row responsive-label">
                <div class="col-sm-6 col-md-9"></div>
                <div class="col-sm-6 col-md-3">{{ form.submit(class="tertiary large") }}</div>
            </div>
    </fieldset>
</form>

{% endblock %}


