{% extends "base.html" %}
{% block content %}
{% for station in station_list %}
<div class="row">
    <div class="col-sm-12">
        <div class="card fluid">
            <div class="section">
                <img class="header_image" src="/image/{{ station[4] }}" alt="header"/>
                <div class="row responsive-label spacer-20">
                    <div class="col-sm-12 col-md-3">Station name</div>
                    <div class="col-sm-12 col-md">{{ station[1] }}</div>
                </div>
                <div class="row responsive-label spacer-20">
                    <div class="col-sm-12 col-md-3">Stream url</div>
                    <div class="col-sm-12 col-md"><a href="{{ station[2] }}" target="_blank">{{ station[2] }}</a></div>
                </div>
                <div class="row responsive-label spacer-20">
                    <div class="col-sm-12 col-md-3">Description</div>
                    <div class="col-sm-12 col-md">{{ station[3] }}</div>
                </div>
                <div class="row responsive-label spacer-20">
                    <div class="col-sm-12 col-md-3">Country</div>
                    <div class="col-sm-12 col-md">{{ station[5] }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}