{% extends "base.html" %}
{% block content %}
{% for station in station_list %}
<form action="/action_station" method="post">
    <div class="row">
        <div class="station_cover" style='background-image: url("/image/{{ station[4] }}");'>
            <div class="play_radio_station">
                <div class="input_station_button" type="submit" name="play_radio_station" value="{{ station[1] }}"></div>
            </div>
        </div>
        <div class="station_information">
            <details>
                <summary>&nbsp;&nbsp;{{ station[1] }}</summary>
                <div class="station_textbox">
                    <p>{{ station[3] }}</p>
                    <p><a href="{{ station[2] }}" target="_blank">Radio</a> from {{ station[5] }}</p>
                    <div class="station_control">
                        <div class="del_radio_station">
                            <input class="input_station_button" type="submit" name="del_radio_station" value="{{ station[1] }}"/>
                        </div>
                        <div class="mod_radio_station">
                            <input class="input_station_button" type="submit" name="mod_radio_station" value="{{ station[1] }}"/>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </details>

        </div>
        <div class="clear"></div>

    </div>
</form>
{% endfor %}
{% if station_list|length == 0 %}
<div class="row">
    <div class="section"><mark class="">Oups!</mark><span class="">Maybe you should add some radio stations.</span></div>
</div>
{% endif %}
{% endblock %}